@media screen and (min-width: 1025px) {
    #Caroussel {
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: 80%;
        
        @keyframes popFromLeft {
            from {
                transform: translateX(-200px);
                opacity: 0;
            }   
            to {
                transform: translateX(0px);
                opacity: 1;
            } 
        }
        
        @keyframes popFromRight {
            from {
                transform: translateX(200px);
                opacity: 0;
            }   
            to {
                transform: translateX(0px);
                opacity: 1;
            } 
        }
        
        @keyframes pushToLeft {
            from {
                transform: translateX(0);
                opacity: 1;
            }   
            to {
                transform: translateX(-200px);
                opacity: 0;
            } 
        }
        
        @keyframes pushToRight {
            from {
                transform: translateX(0);
                opacity: 1;
            }   
            to {
                transform: translateX(200px);
                opacity: 0;
            } 
        }

        @keyframes rotateProgress {
            0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
            25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
            50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
            75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
            100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
        }

        .popFromLeft {
            animation: popFromLeft 0.6s ease-in-out;
        }

        .popFromRight {
            animation: popFromRight 0.6s ease-in-out;
        }

        .pushToLeft {
            animation: pushToLeft 0.6s ease-in-out;
        }

        .pushToRight {
            animation: pushToRight 0.6s ease-in-out;
        }

        .loader {
            width: 60px;
            aspect-ratio: 1;
            border: 3px solid #ddd;
            border-radius: 50%;
            position: relative;
            transform: rotate(45deg);
          }
          
          .loader::before {
            content: "";
            position: absolute;
            inset: -3px;
            border-radius: 50%;
            border: 3px solid #00ffff;
            animation: rotateProgress 5.54s infinite linear;
          }

        > :first-child {
            position: relative;
            height: 78%;
            margin-bottom: 30px;
        }

        > :last-child {
            width: 140px;
            height: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
                width: 20px;
                height: 20px;
                border: 0;
                cursor: pointer;
                background-color: rgb(138, 138, 138);
                transition: background-color 0.4s ease;
            }
            
            :hover {
                background-color: white;
            }
            
            > :first-child {
                border-radius: 1px 100px 100px 100px;
                transform: rotate(-45deg);
            }

            > :nth-child(2) {
                border-radius: 100%;
                border: none;
            }

            > :nth-child(3) {
                border-radius: 1px 100px 100px 100px;
                transform: rotate(135deg);
            }
        }
    }
}