#loginFormContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 250px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
}

#forgotPassword {
    margin-top: 10px;
    margin-bottom: 85px;
}

#createAccount {
    margin-left: 6px;
}

@media screen and (min-width: 768px) {
    #forgotPassword {
        margin-bottom: 110px;
    }
}

@media screen and (min-width: 1025px) {
    #LoginContent span {
        cursor: pointer;
    }

    #forgotPassword {
        margin-bottom: 150px;
    }
}