#mainContainer {
    height: 100vh;
    background-color: #222641;
    justify-content: flex-start;
}

#loginFormContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 250px;
    margin-top: 70px;
    margin-bottom: 20px;
}

#forgotPassword {
    margin-top: 10px;
    margin-bottom: 100px;
}

#createAccount {
    margin-left: 6px;
}

h1 {
    margin-top: 20px;
}