#mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: #222641;
    justify-content: center;
}

#loginFormContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 250px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
}

#forgotPassword {
    margin-top: 10px;
    margin-bottom: 100px;
}

#createAccount {
    margin-left: 6px;
}

@media screen and (min-width: 768px) {
    #mainContainer {
        width: 600px;
        height: 80vh;
    }
}

@media screen and (min-width: 1025px) {

}