.styledInput {
    min-width: 260px;
    min-height: 40px;
    margin: 10px;
    padding-left: 10px;
    background-color: #ffffff;
    color: #323232;
    border-radius: 10px;
    border: 0;
}

.styledInput:focus {
    outline: none;
}
