#HomePage {
    height: 100vh;
    justify-content: flex-start;

    header {
        width: 95%;
        padding-top: 5px;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
        }
    }

    main {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #appsMainContainer {
        flex-flow: wrap-reverse !important;
        width: 100%;
    }

    #CalendarIcon {
        width: 50px;
        height: 50px;
    }

    #desktopSummaryContainer {
        display: none;
    }

    .hide {
        display: none;
    }

    .appIconContainer {
        background-color: #1f1e33;
        border-radius: 18px;
        width: 70px;
        height: 70px;
        margin: 25px 20px;
    }

    img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 768px) {
    #HomePage {
        #appsMainContainer {
            max-width: 500px;
        }

        #CalendarIcon {
            width: 60px;
            height: 60px;
        }

        .appIconContainer {
            width: 90px;
            height: 90px;
            margin: 30px 30px;
        }

        header {
            padding-top: 12px;

            img {
                width: 36px;
                height: 36px;
            }
        }

        img {
            width: 80px;
            height: 80px;
        }
    }
}

@media screen and (min-width: 1025px) {
    $summaryHeight: 220px;
    $summaryMargin: 20px;

    #HomePage {
        justify-content: flex-start;

        #appsMainContainer {
            max-width: 100%;
            padding-bottom: 50px;
        }

        #desktopSummaryContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 79.5vh;
            z-index: 2;

            &> :first-child {
                width: 43%;

                &>* {
                    width: 100%;
                    height: $summaryHeight;
                    margin: $summaryMargin 0;
                    background-color: #1f1e33;
                }
            }

            &> :nth-child(2) {
                width: 57%;
            }
        }

        #CalendarIcon {
            width: 55px;
            height: 55px;
        }

        #appPreviewContainer {
            justify-content: flex-start;
            min-height: #{($summaryHeight + $summaryMargin ) * 3 + $summaryMargin};
        }

        .hide {
            display: flex;
            justify-content: center;
            position: fixed;
            top: 20px;
            left: 0;
            margin: 0 auto;
            z-index: 0;
            padding: 0;

        }

        .appIconContainer {
            width: 75px;
            height: 75px;
            margin: 0px 26px;
            cursor: pointer;
        }

        .appIconContainer:hover {
            background-color: #24233b;
        }

        main {
            width: 100%;
            flex-direction: column;
            padding: 0 50px;
            z-index: 2;

            h1 {
                font-size: 24px;
                margin-bottom: 265px;
            }
        }

        header {
            width: 98.5%;
            padding-top: 12px;
            margin-bottom: 20px;
            z-index: 3;

            img {
                width: 42px;
                height: 42px;
            }
        }

        img {
            width: 70px;
            height: 70px;
            cursor: pointer;
        }
    }
}