#HomePage {
    .appIconContainer {
        background-color: #222641;
        border-radius: 18px;
        width: 100px;
        height: 100px;
    }

    img {
        width: 70px;
        height: 70px;
    }
}